@keyframes error-popup-fade-in {
  from {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    height: 2rem;
    opacity: 1;
    transform: scaleY(1);
  }
}

//@keyframes burger-icon-to-close {
//
//}

@keyframes burger-menu-open {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
