$primary-color: #1177dd;

.m {
  &-centred {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &-container {
    margin: 0 auto;
    width: 960px;
  }
  &-link {
    border-bottom: 1px solid transparent;
    color: $primary-color;
    transition: border .25s ease, bottom .25s ease;
    &:hover {
      border-bottom: 1px solid rgba($primary-color, 0.2);
      color: rgba($primary-color, 0.75);
    }
  }
}

@mixin pseudo-item {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin reset-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}