@import './animations';
@import './fonts.scss';
@import './framework';
@import './popup.scss';

$lightgray: #ddd;
$gray: #888;
$darkgray: #222;;
$black: #000;
$white: #fff;
$blue: #4ca6de;
$denim: #1177dd;
$red: #D7595F;
$green: #AAD661;

:root {
  --primary-color: #17d;
}

body {
  background-color: $white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

._hide {
  display: none;
}

.cont {

  &_50p {
    width: 50%;
  }

}

.sitewrapper {  /* to put footer in the page's end */
  box-sizing: border-box;
  min-height: calc(100vh - 7rem);
  padding-bottom: 7rem;
  @media (max-width: 960px) {
    margin-top: 4rem;
  }
}

.container {
  margin: 0 auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

.sect {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2rem;
  //padding: 0 1rem;
  width: 960px;

  &__header {
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 2em;
  }

  &__description {
    margin-bottom: 0.5em;
    margin-top: 0.1em;
  }

  &__content {
    p {
      font-family: 'PT Sans', sans-serif;
      font-size: 1.2em;
      line-height: 1.75;
      margin-top: 0.5em;
    }

  }

}

.divider {
  border: 0;
  border-top: 16px solid rgba(76, 166, 222, 0.1);
  margin-bottom: 1.5rem;
  margin-top: 48px;
  width: 100%;
}

.icon {
  &:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 0.75em;
  }
  &_location:before {
    content: '\f3c5';
  }
  &_phone:before {
    content: '\f095';
  }
  &_email:before {
    content: '\f0e0';
  }
}

.menu-panel {
  background-color: #fff;
  box-shadow: 0 0 18px rgba(100, 100, 100, 0.5);
  height: 4rem;
  left: 0;
  right: 0;
  top: 0;
  transition: .6s ease;
  transition-property: height, width;
  width: 100%;
  z-index: 1;
  @media (max-width: 960px) {
    position: fixed;
  }
  &-container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 960px;
    @media (max-width: 960px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__burger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 2rem;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 2rem;
    position: relative;
    transition: .4s ease all;
    width: 2.25rem;
    @media (max-width: 960px) {
      display: flex;
    }
    > span {
      background: var(--primary-color);
      border-radius: 5px;
      display: block;
      height: calc(2rem/3 - 0.15rem);
      position: absolute;
      transition: .25s ease;
      transition-property: opacity, top, transform;
      width: inherit;
      &:nth-child(1) {
        top: calc(1rem);
      }
      &:nth-child(2) {
        top: calc(1rem + 2rem/3 + 0.15rem);
      }
      &:nth-child(3) {
        top: calc(1rem + 2 * 2rem/3 + 0.3rem);
      }
    }
  }

  &__nav {
    display: flex;
    height: inherit;
    transition: .6s ease transform;
    @media (max-width: 960px) {
      margin-top: 3rem;
      transform: scaleY(0);
      visibility: hidden;
    }
    &-list {
      display: flex;
      height: inherit;
      list-style: none;
      margin: 0;
      padding: 0;
      @media (max-width: 960px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      &-item {
        border-right: 1px solid #ddd;
        height: inherit;
        &:first-child {
          border-left: 1px solid #ddd;
        }
        @media (max-width: 960px) {
          border-right: 0;
          height: 4rem;
          &:first-child {
            border-left: 0;
          }
        }
        a {
          align-items: center;
          color: #17d;
          cursor: pointer;
          display: flex;
          font-size: 1em;
          height: inherit;
          padding: 0 1.5rem;
          overflow: hidden;
          position: relative;
          transition: .25s ease color;
          white-space: nowrap;
          z-index: 0;
          &:hover, &.active {
            color: #fff;
          }
          &:after {
            background: #17d;
            bottom: 50%;
            color: #fff;
            content: '';
            left: 0;
            right: 0;
            position: absolute;
            top: 50%;
            transform: scale(0.1);
            transition: all .25s ease;
            z-index: -1;
          }

          &:hover:after, &.active:after {
            background: #17d;
            bottom: 0;
            top: 0;
            transform: rotate(180deg) scale(1);
          }
        }
      }
    }
  }

  &--open {
    height: 100%;
    width: 75%;
    .menu-panel {
      &__burger {
        > span {
          top: calc(1rem + 2rem / 3 + 0.15rem)
        }
        > span:nth-child(1) {
          transform: rotate(45deg);
        }
        > span:nth-child(2) {
          opacity: 0;
        }
        > span:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
      &__nav {
        transform: scaleY(1);
        visibility: visible;
      }
    }

  }

}

.cont_welcome {
  margin: 0 auto;
  width: 960px;
}

.welcome {
  background-attachment: fixed;
  background-color: #409dd7;
  background-position-x: center;
  background-position-y: -10rem;
  background-repeat: repeat-x;
  justify-content: center;
  position: relative;
  z-index: 0;

  &:after {
    background-color: rgba(0,0,0,0.5);
    content: '';
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: inherit;
  }

  &__container {
    display: flex;
    height: 100%;
    justify-self: center;
    margin: 0 auto;
  }

  &__avatar {
    align-self: flex-end;
    position: relative;
    z-index: 1;

    &__image {
      display: block;
      height: 15rem;
      margin-top: 2rem;
    }

  }

  &__slogans {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__slogan {
    //animation: 5s ease levitation both infinite alternate;
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    // margin: 0.5rem;
    margin: 0.5rem 2rem;
    justify-content: center;
    // width: 100%;

    &__experience,
    &__work {
      margin: 0;
      z-index: 1;
    }

    &__experience {
      font-size: 4em;
      font-weight: 800;
      line-height: 1.0;
    }

    &__work{
      font-size: 1.1em;
      font-weight: 400;
    }

  }

}

.sect_contacts {
  display: flex;
  margin-top: 30px;
}

.whoami {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 2.5rem;
  position: relative;
  text-align: center;
  &:hover {
    color: #fff;
  }
  &:after {
    background: #fff;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 0;
    position: absolute;
    transition: .25s ease all;
    z-index: -1;
  }
  &:hover:after {
    background: #17d;
    bottom: 0;
    opacity: 1;
    top: 0;
  }

  &__description {
    color: inherit;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;  /* @TODO: Convert to EM */
    letter-spacing: 0.05em;
    margin-left: 4px;
    margin-bottom: 5px;
  }

  &__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;  /* @TODO: Convert to EM */
    font-weight: 800;
    letter-spacing: -0.05em;
    line-height: 0.9;

    &__link {
      color: inherit;
      text-decoration: none;
    }

  }

}

.sect_aboutme {
  margin-top: 2rem;
}

.callme {
  margin: 2rem 0;

  &__header {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 8px 0 12px 0;
  }

  &__icons {
    display: flex;
    justify-content: center;
  }

  &__icon {
    display: inline-block;
    font-size: 32px;  /* @TODO: Convert to EM */
    margin-left: 1rem;
    margin-right: 1rem;

    &__link {
      color: #409dd7;
    }

  }

}

.services__list {
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  padding-left: 0;
  width: 100%;

  &item {
    margin-bottom: 1.5rem;
  }

}

.glide__arrow {
  background-color: #fff;
  box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.1);
  z-index: 0;
  & > svg {
    fill: $black;
    transition: .25s ease fill;
  }
  &:hover > svg {
    fill: $denim;
  }
  &.glide__arrow--next {
    right: 0;
  }
}

.card {
  align-items: center;
  box-shadow: 0 0 2px $lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  width: 100%;

  &_question {  /* === TYPE === */
    border: 1px solid transparent;
    cursor: pointer;
    transform: scale(1);
    transition: background-color .25s ease, border .25s ease, box-shadow .25s ease, transform .25s ease;

    .card__body {
      display: none;
      height: 0;
    }

    &:hover {
      border: 1px solid rgba($denim, 0.75);
      box-shadow: 0 0 1.5rem rgba($denim, 0.25), 0 0 1px $denim;
      transform: scale(1.05);
    }

  }

  &__container_review {
    padding: 1rem;
  }

  &_review {  /* === TYPE ==== */
    align-items: center;
    box-shadow: 0 0 20px #f1f1f1, 0 0 2px #aaa;
    cursor: pointer;
    height: 20rem;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    position: relative;
    @media (max-width: 959px) {
      height: 25rem;
      padding: 2rem 2.5rem;
    }
  }

  &__content {
    padding-left: 24px;
  }

  &__header {
    color: #101010;
    font-size: 1.2em;
  }

  &__body {
    font-size: 1em;
    line-height: 1.75;
    position: relative;
    overflow: hidden;
    > p {
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
  }

  &__author {
    color: $darkgray;
    font-size: 1.25em;
    font-weight: 800;
    margin-bottom: 1rem;
    width: 100%;
  }

  &__description {
    color: #999;
    font-size: 0.8em;
    margin-top: 4px;
  }

  &__icon {

    &__image {
      height: 3rem;
      width: 3rem;
    }

  }

}

.bankcard {

  &s {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
    @media (max-width: 759px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 400;
    text-align: center;
  }

  &__logo {}

}

.cert {

  &s {
    display: grid;
    grid-gap: 5rem 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    @media (max-width: 759px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  & > a {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__image {
    cursor: zoom-in;
    object-fit: cover;
    opacity: 1;
    transition: .25s ease transform, .25s ease opacity;
    transform: scale(1);
    width: 100%;
    &:hover {
      opacity: 0.25;
      transform: scale(1.25);
    }
  }

}


.sect_callback {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  padding: 0 1rem;

  .sect__headercontainer {
    margin-bottom: 2rem;
  }

}

.callback {

  &__header {
    font-family: 'Helvetica', sans-serif;
    font-kerning: auto;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin-top: 8px;
    text-align: left;
  }

  &__fields {

    &__line {
      margin-bottom: 1em;
      margin-top: 1em;
    }

  }

  &__policy {
    color: #888;
    font-size: 0.75em;
    padding: 0 2em;
    text-align: center;

    a {
      color: inherit;
    }
  }

  &__textbox {
    border: 1px solid $lightgray;
    box-sizing: border-box;
    height: 38px;
    outline: none;
    text-align: center;
    transition: border .25s ease, box-shadow .25s ease;
    width: 100%;

    &::placeholder {
      color: $gray;
      transition: color .25s ease;
    }

    &:focus {
      border: 2px solid $blue;
      box-shadow: 0 0 10px lighten($blue, 25%);

      &::placeholder {
        color: $lightgray;
      }

    }

    &_error {
      border: 2px solid $red;

      &::placeholder {
        color: $red;
      }
    }

    &_correct {
      border: 2px solid $green;
      color: $green;

      &:focus {
        border: 2px solid $green;
        box-shadow: 0 0 10px lighten($green, 25%);
      }
    }

  }

  &__success {
    @extend .m-centred;
    animation: 0.4s ease-in-out error-popup-fade-in;
    background-color: #aad661;
    border-radius: 0.5rem;
    color: #fff;
    display: none;
    font-size: 0.9em;
    height: 2rem;
    margin-top: 0.75rem;
    position: relative;
    text-align: center;
    transition: all .25s ease;
    &--visible {
      display: flex;
    }
  }

  &__error-field {
    @extend .m-centred;
    animation: 0.4s ease-in-out error-popup-fade-in;
    background-color: #D7595F;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.9em;
    height: 2rem;
    margin-top: 0.75rem;
    position: relative;
    text-align: center;
    transition: all .25s ease;

    &:after {
      background-color: #D7595F;
      content: '';
      display: block;
      height: 1rem;
      position: absolute;
      width: 1rem;
      left: calc(50% - 0.5rem);
      top: -0.25rem;
      transform: rotate(45deg);
      z-index: -1;
    }

  }

  &__buttonsubmit {
    background-color: $blue;
    border: 0;
    color: $white;
    cursor: pointer;
    font-family: "PT Sans", sans-serif;
    font-size: 1em;
    height: 38px;
    letter-spacing: 0.01em;
    outline: none;
    text-transform: uppercase;
    transition: background-color .25s ease;
    width: 100%;

    &:hover {
      background-color: lighten($blue, 10%);
    }

  }

}

.sect_page {

  margin-top: 4rem;

  .sect__header {
    font-size: 1.5em;
  }

  h1, h2 {
    font-weight: 800;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 2rem;
  }

  h5 {
    font-size: 1.1em;
    margin: 0;
    margin-top: 3em;
  }

  p {
    line-height: 1.75;
  }

  ol {
    line-height: 1.75;

    li {
      margin-bottom: 1em;
    }

  }

}

/* Футер */
.footer {
  border-top: 1px solid #ddd;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.50;
  padding: 0 2rem;
  text-align: right;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__copyright {
  margin-bottom: 8px;
}
.footer__contact {
  display: inline-block;
  margin-left: 16px;
}
.footer__contact:first-of-type {
  margin-left: 0;
}
.footer__icon {
  margin-right: 4px;
}
.footer__link {
  color: inherit;
  text-decoration: none;
}
.footer__link:hover {
  border-bottom: 1px solid rgba(200, 200, 200, 0.75);
}

.reviews__carousel {
  padding: 1rem 0;
}


@media only screen
and (max-width: 768px) {

  .cont_50p {
    width: auto;
  }

  .welcome__avatar__image {
    height: 10rem;
  }

  .welcome__slogans {
    flex-direction: column;
  }

  .welcome__slogan {
    font-size: 12px;
  }

  .sect_contacts {
    display: flex;
    flex-direction: column;
  }

  .topcontacts__contact  {
    font-size: 14px;
  }

  .callme {
    align-items: center;
    margin: 0 0 30px 0;

    &__icon {
      margin-left: 16px;
      margin-right: 16px;
    }

  }

}

@media only screen
and (max-width: 540px) {

  body {
    font-size: 14px;
  }

  .welcome__slogan {
    font-size: 10px;
  }

  .sect_aboutme {

    .sect__content {
      padding: 0 1rem;
    }

  }

  .sect.reviews {

    .sect__header {
      padding: 0 1rem;
    }

    .card_review {
      border: 0;
      border-radius: 0;
      padding: 2em 1.5em;

      .card__body {
        padding-right: 0;
      }

    }

  }

  .sect__header {
    padding: 0 1rem;
    //text-align: center;
  }

  .sect__content {
    padding: 0 1rem;
  }

  .sect.sect_banks {

    .bankcards {
      align-items: center;
      flex-direction: column;

      .bankcard {
        margin: 0;
        margin-bottom: 1.5rem;

        .bankcard__title {
          margin: 0;
        }

      }

    }

  }

  .sect_certs {

    .sect__header {
      padding: 0 1.5rem;
      text-align: center;
    }

    .certs {
      align-items: center;
      flex-direction: column;

      .cert {
        margin: 0;
        margin-bottom: 1.5rem;
      }

    }

  }

  .sect_page {
    margin: 0;
    padding: 0 1rem;
  }

}

@media only screen
and (min-width: 541px)
and (max-width: 1060px) {

  .sect {
    padding: 0 2rem;
  }

}

@media only screen
and (max-width: 1060px) {

  .cont_welcome {
    width: 100%;
  }

  .sect {
    width: 100%;
  }

  .sect_contacts {
    margin: 15px auto;
  }

}

.breadcrumbs {
  @include reset-list;
  li {
    &:not(:last-child):after {
      content: '\203A';
      padding: 0 1rem;
    }
  }
}